<connectionStrings>
	<add name="SQLQuery1" connectionString="Server=localhost\TEW_SQLEXPRESSDatabase=GameResourcesDB;Integrated Security=True;" providerName="System.Data.SqlClient" />
	<add name="SQLQuery1" connectionString="Server=localhost\TEW_SQLEXPRESSDatabase=PlayerImagesDB;Integrated Security=True;" providerName="System.Data.SqlClient" />
</connectionStrings>
